<a href="https://colab.research.google.com/github/MohdHassanS/ML-algorithms/blob/main/KNN_on_Social_Networks_Ads.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Asssignment 13**

In [28]:
#Social_Networks_Ads.csv

In [ ]:
# Use this link to download the data file
# https://drive.google.com/file/d/1yKo_IyzJo02-uG5nbbTb2fwh2xHiaF09/view?usp=share_link

**Importing the libraries**

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Importing the dataset**

In [30]:
df = pd.read_csv("/content/Social_Network_Ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [31]:
df.shape

(400, 5)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [33]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

**Drop Unwanted column**

In [34]:
df.drop(columns = ['User ID'], inplace=True)
df.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

**Splitting the dataset into the Training set and Test set**

In [35]:
 x = df.iloc[:,1:3]
 y = df.iloc[:,3]

In [36]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25)
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((300, 2), (300,), (100, 2), (100,))

**Feature Scaling**

In [37]:
""" Standardisation """
from sklearn import preprocessing
  
Standardisation = preprocessing.StandardScaler()

# Scaled feature
x_train_scaled = Standardisation.fit_transform(X_train)
x_test_scaled = Standardisation.fit_transform(X_test)

**Fitting K-NN to the Training set**

In [38]:
from sklearn.neighbors import KNeighborsClassifier  
classifier= KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2 )  
classifier.fit(x_train_scaled, y_train)

KNeighborsClassifier()

**Predicting the Test set results**

In [39]:
classifier.score(x_test_scaled,y_test)

0.89

In [40]:
y_pred= classifier.predict(x_test_scaled)

**Making the Confusion Matrix**

In [41]:
from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(y_test, y_pred)
cm

array([[53,  4],
       [ 7, 36]])